.content {
    & &-left {
        color: #fff;
        padding: 80px 0 0 50px;

        .left {
            &-heading {
                font-family: $bss;
                font-weight: 600;
            }

            &-description {
                font-size: 14px;
            }

            &-skill {
                font-size: 12px;
            }

            &-download {
                background: $second-gradient;
                color: #fff;

                &:focus {
                    box-shadow: none;
                }

                &:hover {
                    background: #fff;
                    color: $main-color;
                    font-weight: 500;
                }
            }
        }
    }

    & &-right {
        height: 400px;
        background: $second-gradient;

        .right-heading {
            color: #fff;
            font-family: $roboto;
        }
    }

    &-card {

        & &-body {
            background: $main-color;

            .card-link {
                color: #fff;
                font-size: 14px;
                font-weight: 500;
                transition: all .3s ease;

                &:hover {
                    color: gray;
                }
            }

            span {
                color: #fff;
                font-size: 10px;
            }
        }
    }
}