.footer {
    position: fixed;
    width: 100%;
    height: 60px;
    bottom: 0;
    color: #fff;

    & &-description {
        font-size: 14px;
    }

    & &-social {
        list-style: none;

        .social-item {
            font-size: 12px;
            padding: 0 10px;
            transition: all .3s ease;

            .social-link {
                color: #fff;
            }

            &:hover {
                transform: scale(1.1);
            }
        }


    }
}