.project {
    margin: 120px auto;

    & &-header {
        font-family: $roboto;
        color: $text-color;
        font-weight: 600;

        &::after {
            content: '';
            display: block;
            width: 80px;
            height: 1px;
            background: $main-color;
        }
    }

    & .card {
        background: $second-gradient;
        transition: $transition;
        transform: scale(.9);

        &:hover {
            transform: scale(1);
        }

        &-title {
            font-family: $roboto;
            color: $white-color;
            font-size: 14px;
        }

        &-body {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}