@media (min-width: 320px) and (max-width: 812px) {
    .navbar {
        & &-brand {
            margin: 10px 2px;
        }
    }

    .hero {
        height: auto;
        padding-top: 10px;
        margin: 85px auto;

        & &-open {
            font-size: 10px;
        }

        & &-heading {
            font-size: 30px;
        }

        & &-description {
            font-size: 12px;
        }
    }

    .tentang {
        overflow: hidden;
    }
}