// Fonts
$inconsolata: 'Inconsolata',
monospace;
$roboto: 'Roboto',
sans-serif;

// Colors
$main-gradient: linear-gradient(to right, #0f2027, #203a43, #1f5064);
$second-gradient: linear-gradient(to right, #141e30, #243b55);

$main-color:#2c9ac9;
$text-color: #ccd6f6d5;
$white-color: #ffffffd5;

// Transition
$transition: all .3s ease;

btn-warning,
.btn-outline-warning {

    &:hover {
        color: $white-color;
    }
}