// Fonts
$inconsolata: 'Inconsolata',
monospace;
$roboto: 'Roboto',
sans-serif;

// Colors
$main-gradient: linear-gradient(to right, #2C5364, #203A43, #0F2027);
$second-gradient: linear-gradient(to right, #141e30, #243b55);

$main-color:#45a2ca;
$text-color: #ccd6f6d5;
$white-color: #fff;

// Transition
$transition: all .3s ease;

btn-warning,
.btn-outline-warning {

    &:hover {
        color: #fff;
    }
}