// Fonts
$bss:'Big Shoulders Stencil Text',
cursive;
$inconsolata: 'Inconsolata',
monospace;
$roboto: 'Roboto',
sans-serif;

// Colors
$main-gradient: linear-gradient(to right, #2C5364, #203A43, #0F2027);
$second-gradient: linear-gradient(to right, #141e30, #243b55);

$main-color:#2C5364;